{% extends 'base.html' %}

{% block content %}
    <section id="page_menu">
        <h1>Members</h1>
        <nav>
            <li>
                <a href="/members/add">Add New Member</a>
            </li>
            <li>
                <a href="/members/deactive">Show Deactived Members</a>
            </li>
        </nav>
    </section>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Name</th>
                <th>Membership Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{member.member_id}}</td>
                    <td>{{member.last_name}}, {{member.first_name}}</td>
                    {% if member.premium_member == True %}
                        <td>Premium</td>
                    {% elif member.premium_member == False %}
                        <td>Standard</td>
                    {% endif %}
                    <td><a href="/members/{{member.member_id}}/details">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
{% endblock %}