{% extends "base.html" %}
{% block content %}

<form action="/members" method="post">
    <div>
        <label for="member_name">First Name:</label>
        <br>
        <input type="text" id="first_name" name="first_name" placeholder="Enter a name" required autofocus>
        <br>
        <label for="last_name">Last Name:</label>
        <br>
        <input type="text" id="last_name" name="last_name" placeholder="Enter a name" required >
    </div>

    <button type="submit">Add Member</button>
</form>

{% endblock %}