{% extends "base.html" %}
{% block content %}

<form action="/members" method="post">
    <div>
        <label for="member_name">First Name:</label>
        <br>
        <input type="text" id="first_name" name="first_name" placeholder="Enter a name" required autofocus>
        <br>
        <label for="last_name">Last Name:</label>
        <br>
        <input type="text" id="last_name" name="last_name" placeholder="Enter a name" required>
        <br>
        <label for="premium_member">Membership Type:</label>
        <br>
        <select name="premium_member" id="premium_member">
            <option value="0">Standard</option>
            <option value="1">Premium</option>
        </select>
    </div>

    <button type="submit">Add Member</button>
</form>

{% endblock %}