{% extends 'base.html' %}

{% block content %}
<h1>Book a Class</h1>

{% if unbooked_classes == [] %}
    <p>Sorry, there are no classes currently available</p>
    <a href="/members/{{member.member_id}}/details">Member Details</a>
{% else%}
    <form action="/members/{{member.member_id}}/book" method="post">
        <div>
            <label>{{member.member_name}}</label>
            <br>
            <label for="fitness_class">Class:</label>
            <br>
            <select id="fitness_class" name="class_id">
                {% for fitness_class in unbooked_classes %}
                    <option value="{{fitness_class.class_id}}">
                        {{fitness_class.class_name}}: {{fitness_class.class_time}}
                    </option>
                {% endfor%}
            </select>
        </div>

        <button type="submit">Book class</button>
    </form>
{% endif %}
{% endblock %}