{% extends 'base.html' %}

{% block content %}

<section id="page_menu">
    <h1>Book a Class</h1>
</section>

<form action='/members/{{member.member_id}}/book' method='post'>
    <table class="styled-table">
        <tr>
            <th>Member ID</th>
            <td>{{member.member_id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{member.last_name}}, {{member.first_name}}</td>
        </tr>
        <tr>
            <th>Membership Type:</th>
            {% if member.premium_member == True %}
                <td>Premium</td>
            {% elif member.premium_member == False %}
                <td>Standard</td>
            {% endif %}
        </tr>

        {% if unbooked_classes == [] %}
            <tr>
                <th>Class</th>
                <td>Sorry, there are no classes currently available</td>
            </tr>
        {% else%}
            <th>Class</th>
            <td>
                <select id="class_id" name="class_id">
                    {% for fitness_class in unbooked_classes %}
                        <option value="{{fitness_class.class_id}}">
                            {{fitness_class.name}}: {{fitness_class.time}}:00
                        </option>
                    {% endfor %}
                </select>
            </td>
            <tr>
                <th></th>
                <td>
                    <button type="submit">Book class</button>
                </td>
            </tr>
        {% endif %}
    </table>
</form>

            
                
              
    
{% endblock %}