{% extends 'base.html' %}

{% block content %}
    
    <h1>Deactivated Members</h1>

    <section id="member_navigation">
        <nav>
            <ul>
                <li>
                    <a href="/members/add">Add New Member</a>
                </li>
        </nav>
    </section>
    
    {% for member in members %}
        <nav>
            <ul>
                <li>
                    <p>{{member.member_id}}: {{member.first_name}} {{member.last_name}}</p>
                    <a href="/members/{{member.member_id}}/details">Details</a>
                    <a href="/members/{{member.member_id}}/edit">Edit</a>
                </li>
            </ul>
            
        </nav>
    {% endfor %}
</table>
{% endblock %}