{% extends 'base.html' %}

{% block content %}
<h1>Member Details</h1>
<p>Member ID:</p>
<p>{{member.member_id}}</p>
<p>Name:</p>
<p>{{member.first_name}} {{member.last_name}}</p>
<p>Membership Status:</p>
{% if member.active == False %}
    <p>Deactivated</p>
    <a href="/members/{{member.member_id}}/edit">Edit Member Details</a>
{% else %}
    <p>Active</p>
    <p>Membership Type:</p>
    {% if member.premium_member == True %}
        <p>Premium</p>
    {% elif member.premium_member == False %}
        <p>Standard</p>
    {% endif %}

    <a href="/members/{{member.member_id}}/edit">Edit Member Details</a>
    <ul>
        <a href="/members/{{member.member_id}}/book">Book class</a>
        {% for bclass in booked_classes %}
        <li>
            <p>{{bclass.class_id}}: {{bclass.name}}, {{bclass.time}}</p>
        </li>
        {% endfor %}
    </ul>
    
{% endif %}


{% endblock %}