{% extends "base.html" %}
{% block content %}

<form action="/members/{{member.member_id}}" method="post">
    <div>
        <label for="member_name">First Name:</label>
        <br>
        <input type="text" id="first_name" name="first_name" value="{{member.first_name}}" required autofocus>
        <br>
        <label for="last_name">Last Name:</label>
        <br>
        <input type="text" id="last_name" name="last_name" value="{{member.last_name}}" required>
        <br>
        <label for="active">Membership Status:</label>
        <br>
        <select name="active" id="active">
            <option value="1">True</option>
            {% if member.active == False %}
                <option selected="selected" value="0">False</option>
            {% else %}
                <option value="0">False</option>
            {% endif %}
          </select>
    </div>

    <button type="submit">Edit Member</button>
</form>

{% endblock %}