{% extends 'base.html' %}

{% block content %}
    
    <h1>Members</h1>

    <section id="member_navigation">
        <nav>
            <ul>
                <li>
                    <a href="/members/add">Add New Member</a>
                </li>
                <li>
                    <a href="/members/deactive">Show Deactived Members</a>
                </li>
        </nav>
    </section>

    {% for member in members %}
        <nav>
            <ul>
                <li>
                    <p>{{member.member_id}}: </p>
                    <p>{{member.first_name}} {{member.last_name}}</p>
                    {% if member.premium_member == True %}
                        <p>Premium</p>
                    {% elif member.premium_member == False %}
                        <p>Standard</p>
                    {% endif %}
                    <a href="/members/{{member.member_id}}/details">Details</a>
                </li>
            </ul>
            
        </nav>
    {% endfor %}
</table>
{% endblock %}