{% extends 'base.html' %}

{% block content %}
<section id="member_navigation">
    <nav>
        <ul>
            <li>
                <a href="/members/add">Add New Member</a>
            </li>
    </nav>
</section>

<h1>Members</h1>
    
    {% for member in members %}
        <nav>
            <ul>
                <li>
                    <p><a href="/members/{{member.member_id}}"> {{member.member_name}}</a></p>
                    <a href="/members/{{member.member_id}}/edit">Edit</a>
                    <a href="/members/{{member.member_id}}/book">Book class</a>
                </li>
            </ul>
            
        </nav>
    {% endfor %}
</table>
{% endblock %}