{% extends 'base.html' %}

{% block content %}
<section id="page_menu">
    <h1>Classes</h1>
    <nav>
        <li>
            <a href="/classes/add">Add New Class</a>
        </li>
        <li>
            <a href="/classes/deactive">Show Deactivated Classes</a>
        </li>
    </nav>
</section>

<table class="styled-table">
    <thead>
        <tr>
            <th>Class ID</th>
            <th>Name</th>
            <th>Time</th>
            <th>Capacity</th>    
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for fc in classes %}
            <tr>
                <td>{{fc.class_id}}</td>
                <td>{{fc.name}}</td>
                <td>{{fc.time}}:00</td>
                <td>{{fc.capacity}}</td>
                <td><a href="/classes/{{fc.class_id}}/details">Show Details</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}