{% extends "base.html" %}
{% block content %}

<h1>Add Class</h1>

<form action="/classes" method="post">
    <div>
        <label for="name">Class:</label>
        <br>
        <input type="text" id="name" name="name" placeholder="Enter a class name" required autofocus>
        <br>
        <label for="time">Time:</label>
        <br>
        <input type="text" id="time" name="time" placeholder="Enter a class time" required>
    </div>

    <button type="submit">Add class</button>
</form>

{% endblock %}