{% extends 'base.html' %}

{% block content %}
<h1>Class Details</h1>
<p>Class:</p>
<p>{{fitness_class.name}}
<p>Class Time:</p>
<p>{{fitness_class.time}}:00</p>

<form action="/classes/{{fitness_class.class_id}}/book" method="post">
    <select id="member_id" name="member_id">
        {% for member in unbooked_members %}            
            <option value="{{member.member_id}}">
                {{member.member_id}}: {{member.first_name}} {{member.last_name}}
            </option>
        {% endfor %}
    </select>
    <br>
    <button type="submit">Book class</button>
</form>
{% endblock %}