{% extends 'base.html' %}

{% block content %}


<h1>Deactivated Classes</h1>

    {% for fc in classes %}
        <nav>
            <ul>
                <li>
                    <p>Class: {{fc.name}}</a></p>
                    <p>Time: {{fc.time}}:00</p>
                    <p>Total Capacity: {{fc.capacity}}</p>
                    <a href="/classes/{{fc.class_id}}/details">Show Details</a>
                </li>
            </ul>
            
        </nav>
    {% endfor %}
</table>
{% endblock %}