{% extends 'base.html' %}

{% block content %}
<h1>Class Details</h1>
<p>Class:</p>
<p>{{fitness_class.name}}
<p>Time:</p>
<p>{{fitness_class.time}}</p>
<p>Status:</p>
{% if fitness_class.active == False %}
    <p>Deactivated</p>
    <a href="/classes/{{fitness_class.class_id}}/edit">Edit Class Details</a>
{% else %}
    <p>Active</p>
    <a href="/classes/{{fitness_class.class_id}}/edit">Edit Class Details</a>
    <ol>
        {% for member in booked_members %}
        <li>
            <br>
            <p>{{member.member_id}}: {{member.first_name}} {{member.last_name}}</p>
        </li>
        {% endfor %}
    
        <li>
            <br>
            <a href="/classes/{{fitness_class.class_id}}/book">Book member</a>
        </li>
    </ol>
{% endif %}
{% endblock %}