{% extends 'base.html' %}

{% block content %}
<h1>Class Details</h1>
<p>Class:</p>
<p>{{fitness_class.name}}
<p>Time:</p>
<p>{{fitness_class.time}}:00</p>
<p>Capacity:</p>
<p>{{fitness_class.capacity}}</p>
<p>Status:</p>
{% if fitness_class.active == False %}
    <p>Deactivated</p>
    <a href="/classes/{{fitness_class.class_id}}/edit">Edit Details</a>
{% else %}
    <p>Active</p>
    <a href="/classes/{{fitness_class.class_id}}/edit">Edit Details</a>
    <ol>
        {% for member in booked_members %}
        <li>
            <br>
            <p>{{member.member_id}}: {{member.first_name}} {{member.last_name}}</p>
        </li>
        {% endfor %}
    </ol>
    {% if spaces > 0 %}
        <p>Spaces Available: {{spaces}}</p>
        <a href="/classes/{{fitness_class.class_id}}/book">Book member</a>
    {% else %}
        <p>No more spaces avalable on this class</p>
    {% endif %}
    
{% endif %}
{% endblock %}