{% extends 'base.html' %}

{% block content %}

<section id="page_menu">
    <h1>Class Details</h1>
    <nav>
        <li>
            <a href="/classes/{{fitness_class.class_id}}/edit">Edit Details</a>
        </li>
    </nav>
</section>


<section>
    <table class="styled-table">
        <tr>
            <th>Class</th>
            <td>{{fitness_class.name}}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{fitness_class.time}}:00</td>
        </tr>
        <tr>
            <th>Capacity</th>
            <td>{{fitness_class.capacity}}</td>
        </tr>
            <th>Status</th>
            {% if fitness_class.active == True %}
                <td>Active</td>
            {% else %}
                <td>Deactivated</td>
            {% endif %}
    </table>
</section>

<section id="page_menu">
    <h1>Members Booked</h1>
    {% if fitness_class.active == True %}
        <nav>
            {% if spaces > 0 %}
                <li>
                    <a href="/classes/{{fitness_class.class_id}}/book">Spaces Available: {{spaces}} - Book member</a>
                </li>
            {% else %}
                <li>No more spaces avalable on this class</li>
            {% endif %}
        </nav>
    {% endif %}
</section>

<section>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Name</th>
                <th>Memebership Type</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for member in booked_members %}
                <tr>
                    <td>{{member.member_id}}</td>
                    <td>{{member.last_name}}, {{member.first_name}} </td>
                    {% if member.premium_member == True %}
                        <td>Premium</td>
                    {% elif member.premium_member == False %}
                        <td>Standard</td>
                    {% endif %}
                    </td>
                    <td><a href="/members/{{member.member_id}}/details">Show Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}