{% extends "base.html" %}
{% block content %}

<h1>Edit Class</h1>

<form action="/classes/{{fitness_class.class_id}}" method="post">
    <div>
        <label for="name">Class:</label>
        <br>
        <input type="text" id="name" name="name" value="{{fitness_class.name}}" required autofocus>
        <br>
        <label for="time">Time:</label>
        <br>
        <input type="text" id="time" name="time" value="{{fitness_class.time}}" required>
        <br>
        <select name="active" id="active">
            <option value="1">True</option>
            {% if fitness_class.active == False %}
                <option selected="selected" value="0">False</option>
            {% else %}
                <option value="0">False</option>
            {% endif %}
        </select>
    </div>

    <button type="submit">Edit class</button>
</form>

{% endblock %}