{% extends 'base.html' %}

{% block content %}
<section id="page_menu">
    <h1>Bookings</h1>
</section>

<table class="styled-table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Class</th>
            <th>Time</th>
            <th>Member</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{booking.booking_id}}</td>
                <td>{{booking.fitness_class.name}}</td>
                <td>{{booking.fitness_class.time}}:00</td>
                <td>{{booking.member.first_name}} {{booking.member.last_name}}</td>
                <td><a href="/bookings/{{booking.booking_id}}/del">Delete Booking</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

                
            
        
    
