{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>
    {% for booking in bookings %}
        <nav>
            <ul>
                <li>
                    <p>{{booking.booking_id}}</p>
                    <p>{{booking.fitness_class.class_name}}</a></p>
                    <p>{{booking.fitness_class.class_time}}</p>
                    <p>{{booking.member.member_name}}</p>
                    <a href="/bookings/{{booking.booking_id}}/del">Delete Booking</a>
                </li>
            </ul>
        </nav>
    {% endfor %}
</table>
{% endblock %}