{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>
    {% for booking in bookings %}
        <nav>
            <ul>
                <li>
                    <p>Booking ID:{{booking.booking_id}}</p>
                    <p>Class: {{booking.fitness_class.name}}</a></p>
                    <p>Time: {{booking.fitness_class.time}}:00</p>
                    <p>Member: {{booking.member.first_name}} {{booking.member.last_name}}</p>
                    <a href="/bookings/{{booking.booking_id}}/del">Delete Booking</a>
                </li>
            </ul>
        </nav>
    {% endfor %}
</table>
{% endblock %}