<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap" rel="stylesheet"><body>
    <div id='grid-container'>
        <div >
            <ul section="side-menu">
                <li>
                    <a class="active" href="/">Home</a>
                </li>
                <li>
                    <a href="/classes">Classes</a>
                </li>
                <li>
                    <a href="/members">Members</a>
                </li>
                <li>
                    <a href="/bookings">Bookings</a>
                </li>
            </ul>
        </div>

        <section id="main-content" style="margin-left:25%;padding:1px 16px;height:1000px;">
            {% block content %}

            {% endblock %}
        </section>

        <footer>
            <h3>© 2022 Big Guns Gym</h3>
        </footer>
    </div>
</body>
</html>